---
title: Embedded Systems Projects
layout: null
permalink: embedded-systems.html
category: category-1
description: All embedded systems projects that I have made or been a part of since 2015. Code for them is on my <a href="https://github.com/Aryanaut">GitHub</a>.
---

<!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %}

    </head>
    <body class="is-loading">
        <div id="wrapper" class="fade-in">
            <header id="header">
                <a herf="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>

            </header>

            <nav id="nav">
                {% include nav.html %}
            </nav>

            <div id="main">
                <article class="post featured">
                    <header class="major">
                        <h2><a href="#">Embedded Systems Projects</a></h2>
                    </header>
                </article>
                <section class="posts">
                    {% for post in site.posts %}
                    {% assign mod3 = forloop.index | modulo: 3 %}
                        {% if post.category == page.category %}
                        <article>
                            <header>
                                <span class="date">{{ post.date | date_to_string }}</span>
                                <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
                            </header>
                            <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
                            <p>{{ post.excerpt }}</p>
                            <ul class="actions">
                                <li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
                            </ul>
                        </article>
                        {% if mod3 == 0 %}
                        {% endif %}
                    {% endfor %}
                </section>
            </div>

            {% include foot.html %}

            </div>
            {% include scripts-main.html %}
            {% include tracking.html %}
    </body>
</html>
